@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
  --primary-color: #457B9D;
  --secondary-color: #1D3557;
  --accent1-color: #e1841f;
  --accent2-color: #F1FAEE;
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;
  --headline-color-on-white: #396E94; 
  --headline-color-on-color: white; 
  --paragraph-color-on-white: #396E94; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #396E94;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

#search {
  text-align: left;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

.search input {
  padding: 5px;
  font-size: 16px;
}

.home a {
  text-decoration: none;
  color: var(--headline-color-on-color);
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--accent1-color);
}

.home a:hover {
  background-color: var(--accent1-color);
}

header {
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  display: flex;
}

nav a {
  padding: 10px;
  min-width: 120px;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}